@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

:root {
    --bodyColor: linear-gradient(0deg, #11053b, #1e0b63, #11053b);
    --mainColor: #00C4F0FF;
    --shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    --white: #fff;
    --ligth: #a8b2d1;
    --red: #ff0000;
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --transform: translateY(-7px);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Chakra Petch', sans-serif;
    overflow-x: hidden;
    overflow-y: overlay;
    background: var(--bodyColor);
    background-attachment: fixed;
}

h1 {
    margin: 0 0 30px 4px;
    color: var(--white);
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
}

p {
    color: var(--white);
}

a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    transition: all 0.5s;
    color: var(--mainColor);
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    border-radius: 30px;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkit-appearance: none;
    transition: var(--transition);
    box-shadow: var(--shadow);
    top: 0;
    width: 100%;
    z-index: 1;
    height: 100px;
    margin: auto;
    padding: 0 15px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow);
    margin: auto;
    padding: 0 15px;
}

section {
    padding: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 0 15px;
}

.header-nav {
    font-size: 16px;
    font-weight: 700;
}

.header-nav span {
    color: var(--mainColor);
}

.header-nav a {
    text-transform: capitalize;
}

.header-nav a + a {
    margin-left: 30px;
}

.content-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
    padding: 0 15px;
    width: 570px;
}

.content-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 35px;
    margin: 0;
    padding: 0;
    bottom: 0;
    z-index: 999;
}

.content-social a {
    margin-bottom: 20px;
}

.content-social a:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 120px -55px var(--mainColor);
}

.content-social svg {
    font-size: 20px;
}

.content-social::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--mainColor);
}

.info {
    width: 500px;
}

.info-me {
    margin: 0;
    font-size: 45px;
    color: var(--ligth);
}

.bio {
    margin: 20px 0 0;
    max-width: 540px;
    color: var(--white);
}

.bio li {
    padding-left: 30px;
    margin-bottom: 5px;
}

.bio li::before {
    content: "▹";
    position: absolute;
    left: 7px;
    color: var(--mainColor);
}

.content-info span {
    color: var(--mainColor);
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 35px;
    bottom: 0;
    z-index: 999;
}

.email a {
    font-size: 15px;
    margin: 5px auto;
    padding: 10px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.email a:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 120px -55px var(--mainColor);
}

.email::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--mainColor);
}

.section-name {
    text-align: center;
    padding-top: 20px;
}

.section-name span {
    color: var(--mainColor);
}

.skills-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin: 50px;
    box-shadow: var(--shadow);
    transition: var(--transition);
    border-radius: 15px;
}

.skills-lang {
    text-align: center;
}

.skills-progress-bar {
    width: 160px;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 3px;
    margin: 10px;
}

.skills-bar {
    background: linear-gradient(to right, var(--mainColor), var(--ligth));
    height: 20px;
    width: 15px;
    border-radius: 7px;
}

.skills-bar span {
    float: right;
    padding: 4px 5px;
    color: #fff;
    font-size: 0.7em;
}

.project-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-basis: 25%;
    width: 500px;
    height: 500px;
    box-shadow: var(--shadow);
    transition: var(--transition);
    border-radius: 15px;
    margin: 20px;
}

.project-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.project-folder {
    position: relative;
    margin-left: 10px;
    bottom: 55px;
}

.project-folder svg {
    width: 40px;
    height: 40px;
    color: var(--mainColor);
}

.project-link {
    position: relative;
    bottom: 55px;
}

.project-link svg {
    width: 24px;
    height: 24px;
}

.project-link a {
    margin-right: 10px;
}

.project-name {
    font-size: 22px;
}

.project-info {
    padding: 30px;
    font-size: 17px;
}

.project-features {
    display: flex;
}

.project-lang {
    border: 1px solid var(--mainColor);
    border-radius: 8px;
    margin: 5px;
    padding: 8px;
    transition: var(--transition);
    cursor: text;
}

.project-lang:hover {
    background-color: var(--mainColor);
}

.btn-send:hover,
.btn-send:focus {
    background-color: var(--mainColor);
}

.btn-send:disabled {
    cursor: default;
}

.btn-send--is-active .btn-send__text {
    opacity: 0;
}

.btn-send--is-active:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    content: "";
    border-radius: 24px;
    background-clip: padding-box;
    border: var(--mainColor) 2px solid;
    border-top-color: var(--white);
    animation: rotate 750ms linear infinite;
    margin: -13px -7px -2px 3px;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.form-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-contact {
    width: 450px;
    height: 450px;
    background-color: rgba(30, 11, 99, 0.71);
    border-radius: 8px;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.btn-contact {
    margin: 100px;
}

.btn-contact:hover {
    background-color: var(--mainColor);
}

.btn-close {
    margin-left: 10px;
}

.btn-close:hover {
    background-color: var(--red);
}

form {
    margin: 60px;
}

.social-footer {
    margin-top: 10px;
    padding: 10px;
}

.footer-copyright {
    padding: 20px;
}

.social-footer a {
    margin-left: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148)));
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .social-footer {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .header-nav {
        display: none;
    }

    header {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        width: 100%;
        z-index: 12;
    }

    .info {
        text-align: center;
        margin: 0;
    }

    .content-info {
        flex-wrap: wrap;
        padding: 0 0;
        width: 290px;
        margin: -45px;
    }

    .bio li::before {
        left: 17px;
    }

    .content-social {
        display: none;
    }

    .email {
        display: none;
    }

    .skills-card {
        min-width: 340px;
    }

    .project-card {
        min-width: 340px;
    }

    .project-features {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-nav {
        display: none;
    }

    .social {
        margin: 15px;
    }
}
